table {
  margin: 30px auto;
  width: 95%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 10px;
}

tr:hover td:last-child {
  border-radius: 0 10px 10px 0;
}
tr:hover td:first-child {
  border-radius: 10px 0 0 10px;
}

th,
td {
  padding: 15px;
  word-wrap: break-word;
}

tr:hover > td {
  background-color: #f1f1f1;
  color: black;
}
table td:hover {
  color: rgb(74, 74, 74);
  font-weight: bold;
}
table td:nth-child(2):hover  {
    cursor: pointer;
  }
  
.tablePicture img{
    border-radius: 12px;
    background-color: aqua;
    width: 40px;
}
@media screen and (max-width: 768px) {
  th,
  td {
    padding: 10px;
    font-size: 10px;
  }
}
