table {
  margin: 30px auto;
  width: 95%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2; 
  color: #000;
}

tr:nth-child(odd) {
  background-color: #ffffff; 
  color: #000;
}
tr td:last-child {
  border-radius: 0 10px 10px 0;
}

tr td:first-child {
  border-radius: 10px 0 0 10px;
}

th,
td {
  padding: 15px;
  word-wrap: break-word;
}

tr:hover > td {
  background: linear-gradient(#12a7e2, #6cffb5);
  color: black;
}
table td:hover {
  color: rgb(74, 74, 74);
  font-weight: bold;
}

.tablePicture button {
  border-radius: 120px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.tablePicture button img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tablePicture img:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  table {
    width: 100%;
  }
  th,
  td {
    padding: 5px 0px;
    font-size: 10px;
  }
  .tablePicture img {
    width: 30px;
  }
}
