table {
  margin: 30px auto;
  width: 95%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 10px;
}

tr:hover td:last-child {
  border-radius: 0 10px 10px 0;
}
tr:hover td:first-child {
  border-radius: 10px 0 0 10px;
}

th,
td {
  padding: 15px;
  word-wrap: break-word;
}

tr:hover > td {
  background-color: #f1f1f1;
  color: black;
}
table td:hover {
  color: rgb(74, 74, 74);
  font-weight: bold;
}

.tablePicture img {
  border-radius: 12px;
  width: 40px;
}
.tablePicture img:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  table {
    width: 100%;
  }
  th,
  td {
    padding: 5px 0px;
    font-size: 10px;
  }
  .tablePicture img {
    width: 30px;
  }
}
