  .float-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000000;
  }
  
  .float-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    background: linear-gradient(to right, #5088e9, #f0fdd9, #5088e9);
    border: #1559cecb solid 1px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .float-button:hover {
    background: linear-gradient(to right, #5c90e9, #d3ddc1, #5c90e9);
    border: #f5f5f5 solid 1px;
    transition: all 0.2s ease-in-out;

  }
  .float-button:hover.home i {
    color: #f5f5f5;
    transition: all 0.2s ease-in-out;
  }
  
  .float-button.home i{
    color: #1559cecb;
    font-size: 40px;
  }
  