
@media screen and (max-width: 600px){
    #GoogleMaps{
        width: 80%;
        height: 400px;
        } 
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    #GoogleMaps{
        width: 80%;
        height: 400px;
        } 
}

#GoogleMaps{
    padding: 2px;
    background-color: #00445a;
    color: white;
    border-radius: 12px;
    border: solid 1px #000000;
    cursor: pointer;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 5px #000000;
    width: 70%;
    max-width: 660px;
    height: 400px;
    }
  #GoogleMaps:hover{
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
  