#GoogleMaps{
  padding: 2px;
  background-color: #00445a;
  color: white;
  border-radius: 12px;
  border: solid 1px #000000;
  cursor: pointer;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 5px #000000;
  width: 80%;
  height: 400px;
  }
#GoogleMaps:hover{
    transition: all 0.2s ease-in-out;
    scale: 1.05;
}

