/* Mobile */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1em;
}

.gridArea4 {
  grid-area: 1 / 1 / 2 / 5;
  height: 450px;
  border: solid #00445a25;
  box-shadow: 3px 3px 30px #034c64;
}
.gridArea1 {
  grid-area: 2 / 1 / 3 / 5;
  border: solid #00445a25;
  box-shadow: 3px 3px 30px #034c64;
  height: 230px;
}
.gridArea2 {
  grid-area: 3 / 1 / 4 / 5;
  height: 230px;
  border: solid #00445a25;
  box-shadow: 3px 3px 30px #034c64;
}
.gridArea5 {
  grid-area: 4 / 1 / 5 / 5;
  height: 270px;
  border: solid #00445a25;
  box-shadow: 3px 3px 30px #034c64;
}
.spotlights {
  border: solid #00445a25;
  box-shadow: 3px 3px 30px #034c64;
    padding: 50px;
  grid-area: 6 / 1 / 7 / 5;
}
.gridArea6 {
  grid-area: 6 / 1 / 5 / 5;
  height: 250px;
  border: solid #00445a25;
  box-shadow: 3px 3px 30px #034c64;
  margin-bottom: 10px;
}
.gridArea7 {
  grid-area: 7 / 1 / 7 / 5;
  height: 250px;
  border: solid #00445a25;
  box-shadow: 3px 3px 30px #034c64;
}

.gridArea3 {
  display: none;
}
.gridArea8 {
  display: none;
}

/* Medium */
@media screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .gridArea4 {
    grid-area: 1 / 1 / 2 / 5;
    height: 450px;
  }
  .gridArea5 {
    grid-area: 2 / 1 / 3 / 5;
    height: 220px;
  }
  .spotlights {
    border: solid #00445a25;
    box-shadow: 3px 3px 30px #034c64;
    display: grid;
    gap: 1em;
    grid-area: 3 / 1 / 5 / 5;
    height: auto;
    padding: auto;
}
  .gridArea6 {
    grid-area: 3 / 1 / 5 / 3;
    height: 175px;
  }
  .gridArea7 {
    grid-area: 3 / 3 / 5 / 5;
    height: 175px;
  }
  .gridArea3 {
    grid-area: 5 / 1 / 6 / 5;
    height: 175px;
    display: block;
    border: solid #00445a25;
    box-shadow: 3px 3px 30px #034c64;
    }
  .gridArea2 {
    grid-area: 6 / 3 / 7 / 5;
    height: 230px;
  }

  .gridArea1 {
    grid-area: 6 / 1 / 7 / 3;
    height: 230px;
  }
  .gridArea8 {
    display: none;
  }

}

/* Large */
@media screen and (min-width: 960px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .gridArea1 {
    grid-area: 1 / 1 / 3 / 2;
    height: 250px;
  }
  .gridArea2 {
    grid-area: 3 / 1 / 5 / 2;
    height: 250px;
  }

  .gridArea3 {
    grid-area: 5 / 1 / 7 / 2;
    height: 250px;
  }
  .gridArea4 {
    grid-area: 1 / 2 / 5 / 4;
    height: 550px;
    margin-top: 5px;
  }
  .gridArea5 {
    grid-area: 5 / 2 / 7 / 4;
    height: 250px;
    margin-top: -10px;
  }
  .spotlights {
    border: solid #00445a25;
    box-shadow: 3px 3px 30px #034c64;
      grid-area: 1 / 4 / 7 / 4;
    padding: 20px 10px;
    height: auto;

}
  .gridArea6 {
    grid-area: 1 / 1 / 3 / 5;
    height: 250px;
  }
  .gridArea7 {
    grid-area: 3 / 1 / 5 / 5;
    height: 250px;
  }
  .gridArea8 {
    grid-area: 5 / 1 / 7 / 5;
    display: block;
    height: 250px;
    border: solid #00445a25;
    box-shadow: 3px 3px 30px #034c64;
    }

}
