/* Mobile */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1em;
}

.gridArea4 {
  grid-area: 1 / 1 / 2 / 5;
  padding: 130px;
  border: solid #e7e6e5;
}
.gridArea1 {
  grid-area: 2 / 1 / 3 / 5;
  padding: 50px;
  border: solid #e7e6e5;
}
.gridArea2 {
  grid-area: 3 / 1 / 4 / 5;
  padding: 50px;
  border: solid #e7e6e5;
}
.gridArea5 {
  grid-area: 4 / 1 / 5 / 5;
  padding: 115px;
  border: solid #e7e6e5;
}
.spotlights {
    border: solid #e7e6e5;
    padding: 50px;
  grid-area: 6 / 1 / 7 / 5;
}
.gridArea6 {
  grid-area: 6 / 1 / 7 / 5;
  padding: 115px;
  border: solid #e7e6e5;
}
.gridArea7 {
  grid-area: 7 / 1 / 7 / 5;
  padding: 120px;
  border: solid #e7e6e5;
}

.gridArea3 {
  display: none;
}
.gridArea8 {
  display: none;
}

/* Medium */
@media screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .gridArea4 {
    grid-area: 1 / 1 / 2 / 5;
    padding: 130px;
  }
  .gridArea5 {
    grid-area: 2 / 1 / 3 / 5;
    padding: 50px;
  }
  .spotlights {
    border: solid #e7e6e5;
    display: grid;
    gap: 1em;
    grid-area: 3 / 1 / 5 / 5;
}
  .gridArea6 {
    grid-area: 3 / 1 / 5 / 3;
    padding: 80px;
  }
  .gridArea7 {
    grid-area: 3 / 3 / 5 / 5;
    padding: 80px;
  }
  .gridArea3 {
    grid-area: 5 / 1 / 6 / 5;
    padding: 110px;
    display: block;
    border: solid #e7e6e5;
  }
  .gridArea2 {
    grid-area: 6 / 3 / 7 / 5;
    padding: 50px;
  }

  .gridArea1 {
    grid-area: 6 / 1 / 7 / 3;
    padding: 50px;
  }
  .gridArea8 {
    display: none;
  }

}

/* Large */
@media screen and (min-width: 960px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .gridArea1 {
    grid-area: 1 / 1 / 3 / 2;
    margin-top: 10px;
    padding: 100px;
  }
  .gridArea2 {
    grid-area: 3 / 1 / 5 / 2;
    padding: 100px;
  }

  .gridArea3 {
    grid-area: 5 / 1 / 7 / 2;
    padding: 100px;
  }
  .gridArea4 {
    grid-area: 1 / 2 / 5 / 4;
    padding: 230px;
  }
  .gridArea5 {
    grid-area: 5 / 2 / 7 / 4;
    padding: 120px;
    margin-top: -10px;
  }
  .spotlights {
    border: solid #e7e6e5;
    grid-area: 1 / 4 / 7 / 5;
    padding: 40px 10px;

}
  .gridArea6 {
    grid-area: 1 / 1 / 3 / 5;
    padding: 100px ;
  }
  .gridArea7 {
    grid-area: 3 / 1 / 5 / 5;
    padding: 100px ;
  }
  .gridArea8 {
    grid-area: 5 / 1 / 7 / 5;
    display: block;
    padding: 100px ;
    border: solid #e7e6e5;
  }

}
