footer {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  display: block;
}

.footerContainer {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerLogoContainer,
.footerContactInfoContainer {
  margin: 0px;
  margin-bottom: 20px;
  flex-direction: column;
  flex-basis: 100%;
  font-size: 18px;
  width: 100%;
}

#logoFooter {
  width: 400px;
  margin: -100px 0;
  padding-right: 0px;

}

.contacts {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;

}

.contacts p {
  padding: 5px;
  margin: 4px;
}
#footerLogoInfo p{
  margin: 2px;
}

#firstLineFooter,
#secondLineFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}