* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s;
  max-width: 1800px;
  margin: 0 auto;
}

body {
  background-color: #282929;
}

/* Header */

.currentDatetime {
  margin: 0 auto;
  background: linear-gradient(to right, #129ecc, #bdddf0, #129ecc);
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  letter-spacing: 1px;
  box-shadow: 1px 1px 5px #034c64;
}
.currentDatetime #now {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: large;
}

#banner {
  width: 100%;
  margin: auto;
  display: none;
  background: linear-gradient(to right, #00698b, #ec8e35, #00698b);
  color: #000000;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

header {
  background: linear-gradient(to right, #a4e3f8, #d9f0fd, #6fc3e4);
  padding-bottom: 1px;
}

.headerInfo {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}

.logoTitleContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-left: -50px;
}

.logo img {
  width: 160px;
  height: 160px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin-left: -25px;
}

.title {
  font-size: 14px;
}
.primaryTitle {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
}

.mainMenu {
  display: flex;
  list-style: none;
}

.mainMenu li {
  margin-right: 10px;
}

.mainMenu li a {
  text-decoration: none;
  color: #0a0c0c;
}

.socialsHeader {
  display: flex;
  align-items: center;
  order: 2;
  margin-top: 10px;
}

.socialsHeader i {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.socialsHeader a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  color: #1558ce;
}
#linkedIn,
#facebook {
  color: #1558ce;
  font-size: 25px;
}
#linkedIn:hover,
#facebook:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;
}
.socialsHeader a:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;
}

.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: none;
  transition: all 0.8s ease-in-out;
}

.hamburger i {
  color: #0f0b0b;
}

.hamburger i:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;
}

.hamburger:focus {
  outline: none;
}

.hamburger.active ~ nav {
  display: block;
}

.toggleMenu {
  display: none;
}

.mainMenu li a:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;
}

.mainMenu {
  flex-grow: 0;
  max-width: 1600px;
  margin: 0 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no wrap;
  padding: 20px 20px;
}

.mainMenu li {
  display: block;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 10px 20px;
}

.mainMenu li a {
  text-decoration: none;
  color: #0a0c0c;
}
.mainMenu li a:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;
}
.currentDate {
  background-color: aqua;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

/* Main */
main {
  max-width: 1750px;
}
main button {
  padding: 10px 15px;
  background-color: #00445a;
  color: white;
  border-radius: 12px;
  border: solid 1px #000000;
  cursor: pointer;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 5px #000000;
}
main button:hover {
  padding: 10px 15px;
  background-color: #ce7420;
  border-radius: 12px;
  letter-spacing: 0.6px;
}

.grid-container {
  background: linear-gradient(to right, #00445a, #a4e3f8, #00445a);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.grid-container > div {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: linear-gradient(to right, #129ecc, #bdddf0, #129ecc);
  white-space: normal;
  word-wrap: break-word;
}

.gridAreatitle {
  max-width: 100%;
  margin-bottom: 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 0 20px #e6e4e4;
  -webkit-text-stroke: 0.7px #000000;
  -webkit-text-fill-color: #ce7420;
  width: 100%;
}
.gridAreatitle h4 {
  margin-top: 10px;
  -webkit-text-stroke: 0.7px #000000;
  -webkit-text-fill-color: #ce7420;
}
.gridAreaContent {
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  text-shadow: 0 0 20px #e6e4e4;
  -webkit-text-fill-color: #000000;
}
.gridAreaContent p {
  margin-bottom: 10px;
}
.gridAreaContent a {
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0 0 20px #e6e4e4;
  -webkit-text-fill-color: #00445a;
  transition: all 0.3s;
}
.gridAreaContent a:hover {
  margin-top: 10px;
  letter-spacing: 0.1px;
  text-decoration: none;
  text-shadow: 0 0 20px #e6e4e4;
  -webkit-text-fill-color: #ce7420;
}
#hero {
  position: relative;
  background: linear-gradient(to right, #129ecc, #bdddf0, #129ecc);
}
#hero-img {
  margin-top: -110px;
  min-height: 720px;
}

/* Image for week 6 */
#hero img {
  margin-top: -110px;
  min-height: 720px;
}
/* Image for week 6 */

#hero .gridAreatitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 15px #000000;
  -webkit-text-fill-color: #ce7420;
}

#hero .gridAreaContent button {
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  white-space: nowrap;
  -webkit-text-fill-color: #ffffff;
}
#weather {
  position: relative;
  width: 100%;
}
.grades {
  position: absolute;
  margin: 0 auto;
  width: 80%;
  left: 0;
  right: 0;
  bottom: 81%;
  transform: translateY(50%);
  border: none;
}
#weatherStatusImg {
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

#weatherDegree {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  margin-top: 20px;
}

#weather hr {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  margin: 0 auto;
  bottom: 32.5%;
  transform: translateY(50%);
  background: linear-gradient(to right, #15c5c5 10%, #085e70, #15c5c5);
  border: none;
  width: 80%;
}

#weatherStatus {
  position: absolute;
  left: 10;
  right: 0;
  margin: 0 auto;
  bottom: 34.5%;
  text-align: right;
  font-size: 23px;
  margin-right: 10%;
}
#weather .stadistics {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
#weather .stadistics span {
  display: absolute;
  width: 50%;
  margin-bottom: 3px;
}
#weather ul > li {
  position: relative;
  padding: 2px;
  margin: 5px 0;
  width: 100%;
  border-radius: 12px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#join button {
  width: 100%;
  margin-top: 30px;
  -webkit-text-stroke: 0px #ffffff;
  -webkit-text-fill-color: #ffffff;
  font-weight: bold;
}

.spotlights {
  position: relative;
  width: 100%;
}
.spotlights .gridAreaContent img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  margin-top: -10px;
  margin-bottom: 0px;
}
.spotlights .gridAreaContent hr {
  height: 2px;
  margin-top: 0;
  margin-bottom: 1px;
}

.gridArea3,
.gridArea6,
.gridArea7,
.gridArea8 {
  width: 100%;
}
/* Footer */
footer {
  width: 100%;
  display: flex;
  margin: auto;
  background: linear-gradient(to right, #a4e3f8, #d9f0fd, #6fc3e4);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;
}

footer a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  justify-content: space-between;
}

footer a:hover {
  text-decoration: none;
  color: #ce7420;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footerLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

#footerLogoInfo {
  width: 100%;
  margin-top: 0;
  margin-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
#footerTitle {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 3px;
}
#logoFooter {
  width: 400px;
  margin-right: -120px;
  padding-right: 50px;
  margin-top: -100px;
  margin-bottom: -120px;
}

.contacts {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 20px;
}

.contacts p {
  margin-bottom: -5px;
  margin: 0;
}

hr {
  height: 2px;
  margin: 20px 0;
  background: linear-gradient(to right, #15c5c5 10%, #085e70, #15c5c5);
  border: none;
  width: 100%;
}

#firstLineFooter,
#secondLineFooter {
  display: flex;
  flex-direction: row;
}

#firstLineFooter {
  width: 100%;
  padding: 0;
  color: #0a0c0c;
  text-align: center;
}
#firstLineFooter p {
  margin-bottom: 5px;
  margin-right: 10px;
}

#secondLineFooter {
  color: #039ba0;
  font-weight: 100;
  font-style: italic;
}

#firstLineFooter p:not(:last-child)::after {
  content: " |";
  display: inline;
}
