
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #282929;
}

/* Header */

.currentDatetime {
  margin: 0 auto;
  background: linear-gradient(to right, #129ecc, #bdddf0, #129ecc);
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  letter-spacing: 1px;
}
#now{
  text-align: center;
  padding: 0.5rem;
  font-size: large;
  
}
#banner {
  width: 100%;
  margin: auto;
  display: none;
  background: linear-gradient(to right, #00698b, #ec8e35, #00698b);
  color: #000000;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  
}

header {
  background: linear-gradient(to right, #a4e3f8, #d9f0fd, #6fc3e4);
  padding-bottom: 1px;
}

.headerInfo {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 10px;
}

.logoTitleContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.logo img {
  width: 160px;
  height: 160px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
}
.primaryTitle {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;

}
nav {
  display: flex;
  align-items: center;
}

.mainMenu {
  display: flex;
  list-style: none;
}

.mainMenu li {
  margin-right: 10px;
}

.mainMenu li a {
  text-decoration: none;
  color: #0a0c0c;
}

.socialsHeader {
  display: flex;
  align-items: center;
  order: 2;
  margin-top: 10px;
}

.socialsHeader i {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.socialsHeader a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  color: #1558ce;

}
#linkedIn,#facebook{
  color: #1558ce;
  font-size: 25px;
}
#linkedIn:hover,#facebook:hover{
  color: #ce7420;
  transition: all 0.2s ease-in-out;


}
.socialsHeader a:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;

}

.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: none;
  transition: all 0.8s ease-in-out;
}

.hamburger i {
  color: #0f0b0b;
}

.hamburger i:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;

}

.hamburger:focus {
  outline: none;
}

.hamburger.active ~ nav {
  display: block;
  
}

.toggleMenu {
  display: none;
}

.mainMenu li a:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;

}

.mainMenu {
  flex-grow: 0;
  max-width: 1600px;
  margin: 0 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no wrap;
  padding: 20px 20px;
}

.mainMenu li {
  display: block;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 10px 20px;
}

.mainMenu li a {
  text-decoration: none;
  color: #0a0c0c;
}
.mainMenu li a:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;

}
.currentDate {
  background-color: aqua;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

/* Main */

.grid-container{
  background: linear-gradient(to right, #A4E3F8, #4ab5f3, #A4E3F8);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;

}
  
/* Footer */
footer {
  width: 100%;
  display: flex;
  margin: auto;
  background: linear-gradient(to right, #a4e3f8, #d9f0fd, #6fc3e4);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;
}

footer a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

footer a:hover {
  text-decoration: none;
  color: #ce7420;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

}

.footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footerLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 20px;
}

#footerLogoInfo {
  width: 100%;
  margin-top: 0;
  margin-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
#footerTile {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 3px;
}
#logoFooter {
  width: 400px;
  margin-right: -120px;
  padding-right: 50px;
  margin-top: -100px;
  margin-bottom: -120px;
}

.contacts {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
}

.contacts p {
  margin-bottom: -5px;
  margin: 0;
}

hr {
  height: 2px;
  margin: 20px 0;
  background: linear-gradient(to right, #15c5c5 10%, #085e70, #15c5c5);
  border: none;
  width: 100%;
}

#firstLineFooter,
#secondLineFooter {
  display: flex;
  flex-direction: row;
}

#firstLineFooter {
  width: 100%;
  padding: 0;
  color: #0a0c0c;
  text-align: center;
}
#firstLineFooter p {
  margin-bottom: 5px;
  margin-right: 10px;
}

#secondLineFooter {
  color: #039ba0;
  font-weight: 100;
  font-style: italic;
}

#firstLineFooter p:not(:last-child)::after {
  content: " |";
  display: inline;
}
