* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  body {
    background-color: rgb(40, 41, 41);
  }
  
  footer {
    max-width: 1600px;
    width: 100%;
    display: flex;
    margin: auto;
    background: linear-gradient(to right, #A4E3F8, #D9F0FD, #6FC3E4);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;

  }

  footer a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
  }
  
  footer a:hover {
    text-decoration: none;
    color: #ce7420;
    font-weight: 500;
  }
  
  .footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footerLogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 20px;
  }
  

  #footerLogoInfo {
    width: 100%;
    margin-top: 0;
    margin-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
  }
  #footerTile{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 3px;
  }
  #logoFooter {
    width: 400px;
    margin-right: -120px;
    padding-right: 50px;
    margin-top: -100px;
    margin-bottom: -120px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .contacts p {
    margin-bottom: -5px;
    margin: 0;
  }

  hr {
    height: 2px;
    margin: 20px 0;
    background: linear-gradient(to right, #15c5c5 10%, #085E70, #15c5c5);
    border: none;
    width: 100%;
  }
  
  #firstLineFooter,
  #secondLineFooter {
    display: flex;
    flex-direction: row;
  }
  
  #firstLineFooter {
    width: 100%;
    padding: 0;
    color: #0a0c0c;
    height: auto;
    text-align: center;
    padding: 2px;
  }
  #firstLineFooter p{
    margin-bottom: 5px;
  }
  
  #secondLineFooter {
    color: #039ba0;
    font-weight: 100;
    font-style: italic;
  }
  