@media screen and (min-width: 33.5em) {
  header div {
    text-align: center;
    padding: 10px 0;
    margin: 20px;

  }

  header div h1 {
    font-size: 30px;
  }

  header div h2 {
    font-size: 26px;
  }
}
