* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body {
  background-color: rgb(40, 41, 41);
}
header,
footer {
  max-width: 1600px;
  width: 100%;
  display: flex;
  margin: auto;
  background: linear-gradient(#dfffdd, #6cffb5);
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: auto;
}
header div {
  flex: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 -10px;
}
header div h1 {
  margin-top: 0px;
  font-size: 38px;
}
header div h2 {
  margin-top: -25px;
  font-size: 26px;
}

main{
  max-width: 1600px;
  margin:  0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#container {
  margin: 20px auto;
  height: auto;
  display: flex;
  word-break: break-all;
  padding: 20px;
}

.cardContainer {
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin: 0 10px;
  border-radius: 6px;
  background: linear-gradient(#789178, #ffffff);
}

.sectionTitle{
    text-align: left;
    padding-left: 12px;
    background: linear-gradient(#b2e6d4, #69e7a8);
}

.sectionContent{
    background-color: #d3e2d8;
    padding: 20px 10px;
    text-align: left;
    position: relative;
    margin-bottom: -10px;
}

.sourceName{
    font-size: 16px;
    text-align: left;
    margin:  5px 10px;
}

.sourceLink {
    margin:  5px 10px;
}

.sourceImg{
    border-radius: 5px;
    margin: 15px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
  height: auto;
  text-align: center;
  padding: 10px 10px;
}

footer a {
  text-decoration: none;
  color: #01852d;
  font-weight: 500;
}

footer a:hover {
  text-decoration: none;
  color: #014919;
  font-weight: 500;
}

#secondLineFooter {
  color: #2d9c01;
  text-align: center;
  font-weight: 600;
  font-style: italic;
}
