.float-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000000;
  }
  
  .float-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    background: linear-gradient(#7f80d4, #24c776);
    margin-bottom: 10px;
    transition: all 0.8s ease-in-out;
    text-decoration: none;
  }
  
  .float-button:hover {
    background: linear-gradient(#8484af, #6cffb5);
  }
  
  .float-button.home i{
    color: #fff;
    font-size: 40px;
  }
  
  