/* Mobile */
#container {
    margin: 20px auto; 
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 95%;
    margin-bottom: 20px;
  }
  
  /* Tablet */
  @media screen and (min-width: 600px) {
    #container {
      grid-template-columns: repeat(2, 1fr);
    }
    .cardContainer:nth-child(3) {
      grid-column: 1 / span 2;
    }

  }
  
  /* Desktop */
  @media screen and (min-width: 960px) {
    #container {
      grid-template-columns: repeat(3, 1fr);
      width: 95%;
    }
    .cardContainer:nth-child(3) {
        grid-column: unset;
      }
    
  }
  