*{
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(40, 41, 41);
}
header div, footer{
    max-width: 1000px;
    width: 90%;
    display: flex;
    margin: auto; 
    border-radius: 12px;
    background:linear-gradient(#dfffdd,#6cffb5);
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}
header img{
    border-radius: 12px;
    margin-right: auto;
    margin-left: 20px;
}
header h1{
    font-size: 38px;
    margin-left: auto;
    margin-right: auto;
}
main{
    max-width: 1000px;
    width: 90%;
    margin: auto; 
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#dfffdd;
}
main h2, p{
    margin: 10px 0;
}
main ul{
    text-align: left;
    list-style-position: inside;
    margin-left: 15px;
}
main ul li {
    margin: 10px 0;
}
main ul li a{
    margin-left: 10px;
    text-decoration: none;
    color: #6cffb5;
    text-transform: capitalize;
}
footer{
    padding-bottom: 20px;
}
#secondLineFooter{
    color: #0c0202;
    text-align: center;
}

@media screen and (max-width: 767px) {
    header div{
        margin: auto;
        text-align: center; 
        padding: 20px 0;
        margin-top: 30px;
    }

    header img{
        margin-right: 30px; 
        width: 150px;
        height: 150px;
    }

    header h2{
        margin: 0 auto;
        margin-top: 20px;
        font-size: 26px;
    }
}
