*{
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(40, 41, 41);
}
header div, footer{
    max-width: 1000px;
    width: 90%;
    display: flex;
    margin: auto; 
    border-radius: 12px;
    background:linear-gradient(#dfffdd,#6cffb5);
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}
header img{
    border-radius: 12px;
    margin-right: auto;
    margin-left: 20px;
}
header h1{
    font-size: 38px;
    margin-left: auto;
    margin-right: auto;
}
main{
    max-width: 1000px;
    width: 90%;
    margin: auto; 
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#dfffdd;
}
main h2, p{
    margin: 10px 0;
}
main ul{
    text-align: left;
    list-style-position: inside;
    margin-left: 15px;
}
main ul li {
    margin: 10px 0;
}
main ul li a{
    margin-left: 10px;
    text-decoration: none;
    color: #6cffb5;
    text-transform: capitalize;
}
footer{
    text-align: center;
    padding: 0px 10px;

}
footer a{
    text-decoration: none;
    color: #01852d;
    font-weight: 500;
}
footer a:hover{
    text-decoration: none;
    color: #014919;
    font-weight: 500;
}
#secondLineFooter{
    color: #2d9c01;
    text-align: center;
    font-weight: 600;
    font-style:italic;
}

