/* Header */

.headerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.headerInfo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

nav {
  text-align: center;
}

.title {
  font-size: 12px;
}
.primaryTitle {
  font-size: 18px;
}

.hamburger {
  display: block;
  order: 1;
}
.mainMenu {
  display: none;
}
.toggleMenu {
  max-width: 100%;
  width: 100%;
  height: 275px;
  flex-grow: 0;
  flex: 1 1 auto;
  flex-wrap: wrap;
  background: linear-gradient(to right, #a4e3f8, #d9f0fd, #6fc3e4);
  margin: 0 auto;
  padding: 20px 20px;
  transition: all 0.2s ease-in-out;
  border: none;
  border-top: 1.5px solid #8484af;
  margin-bottom: -30px;
  display: none;
  flex-direction: column;
}

.toggleMenu li {
  display: block;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 10px 20px;
}

.toggleMenu li a {
  text-decoration: none;
  color: #0a0c0c;
}

.toggleMenu li a:hover {
  color: #ce7420;
  transition: all 0.2s ease-in-out;
}

.toggleMenu.active {
  display: block;
}
.socialsHeader {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-right: 50px;
}

.socialsHeader i {
  margin-right: -5px;
  margin-left: 1px;
  margin-bottom: 10px;
  font-size: 20px;
}

.socialsHeader a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #0a0c0c;
}

.socialsHeader a:hover {
  color: #ce7420;
}
#facebook {
  margin-left: 10px;
}
#hamburgerChamber i {
  margin-left: 40px;
}
/* Main */

#hero-img {
  margin-top: 0;
  opacity: 85%;
  width: 100%;
  height: auto;
  min-height: 450px;
}
/* Image for week 6 */
#hero {
  width: 100%;
}

#hero picture {
  height: 100%;
  opacity: 85%;
}
/* Image for week 6 */

#hero .gridAreatitle {
  top: 70%;
  left: 50%;
}
#hero .gridAreaContent button {
  top: 90%;
  left: 50%;
}
.spotlightsSlogan,
.spotlights .gridAreaContent p {
  font-size: 16px;
}
/* Footer */
footer {
  padding: 10px;
  font-size: 14px;
  display: block;
}

.footerContainer {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerLogoContainer,
.footerContactInfoContainer {
  margin: 0;
  margin-bottom: 20px;
  flex-direction: column;
  flex-basis: 100%;
  font-size: 18px;
  width: 100%;
}

#logoFooter {
  width: 320px;
  margin: -70px 0;
  padding-right: 0px;
}
#footerLogoInfo {
  font-size: 18px;
}
#footerTitle {
  font-size: 20px;
}

.contacts {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18px;
}

.contacts p {
  padding: 5px;
  margin: 3px;
}
#footerLogoInfo p {
  margin: 2px;
}

#firstLineFooter,
#secondLineFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#firstLineFooter p,
#secondLineFooter p {
  width: 100%;
  align-items: center;
  text-align: center;
}
/* Not show the "|" between the lines */
#firstLineFooter p:not(:last-child)::after {
  display: none;
}
