/* Main */
#hero-img {
  opacity: 85%;
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* Image for week 6 */
#hero,#discoverPicture1 {
  width: 100%;
}
#hero picture,#discoverPicture1 picture {
  opacity: 85%;
}
/* Image for week 6 */

#hero .gridAreatitle, #discoverPicture1 .gridAreatitle {
  top: 80%;
  left: 50%;
}
#hero .gridAreaContent button, #discoverPicture1 .gridAreaContent button {
  top: 90%;
  left: 75%;
}

.spotlights .gridAreaContent img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  margin-top: -20px;
  margin-bottom: 0;
}
.spotlights .gridAreaContent hr {
  height: 2px;
  margin-top: 0;
  margin-bottom: 5px;
}
.spotlightsSlogan,
.spotlights .gridAreaContent p {
  font-size: 15px;
}
#spotlightTwo img {
  padding: 0px;
  margin-top: -18px;
}
#spotlightTwo h2 {
  font-size: 24px;
}

/* Footer */

hr {
  height: 2px;
  margin: 20px 0;
  background: linear-gradient(to right, #15c5c5 10%, #085e70, #15c5c5);
  border: none;
  width: 100%;
}
