
/* Main */

#hero img{
  opacity: 85%;
  width: 100%;
  height: auto;
}
#hero .gridAreatitle {
  top: 80%;
  left: 50%;
}
#hero .gridAreaContent button {
  top: 90%;
  left: 75%;
}
/* Footer */

hr {
  height: 2px;
  margin: 20px 0;
  background: linear-gradient(to right, #15c5c5 10%, #085e70, #15c5c5);
  border: none;
  width: 100%;
}
